*{
    margin: 0;
    padding: 0;
    cursor: default;


}
body{
    background:#ebebeb;
     min-width:1000px;
     min-height: 600px;
}

.container{
  height: 100vh;
  width: 100vw;



}

.msm{
  border: 15px solid;
  -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  border-image: linear-gradient(to bottom, #4366FF 0%, #1A66AC 100%);
  border-image-slice: 1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#name{
  font-family: 'Karla', sans-serif;;
  position: absolute;
  margin: 50px;
z-index: 2;
font-size: 5vh;

}



#name:hover{

  height: 50px;
  width: 380px;
  background-color: black;
  transition: 0.3s;
  color: white;
  cursor: url("computer.png") , default;


}

#cod{
  font-family: 'Karla', sans-serif;
  font-size: 10vh;
  position: absolute;
  top: 30%;
  left: 5%
}

.buttons > .changelog, .sourcecode{
  position: absolute;
  font-family: 'Fira Code', monospace;
  font-size: 2vh;
  display: flex;
  background-color: black;
  padding: 17px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  transition: 0.2s;

  margin-left: 5%;
  


}

.changelog:hover{
  box-shadow: 5px 10px 30px #00000050;
  transition: 0.2s;
  transform: scale(1.1,1.1);
}

.sourcecode:hover{
  box-shadow: 5px 10px 30px #00000050;
  transition: 0.2s;
  transform: scale(1.1,1.1);
}

.changelog{
  text-decoration: none;
  color: white;
  top: 72%;

}

.sourcecode{
  text-decoration: none;
  color: white;
  top: 60%;
}

::selection {
  color: white;
  background: black;

}

.circle1 {
  height: 60vh;
  width: 60vh;
  border-radius: 50%;
  position: absolute;
  top: 20vh;
  right: 0;
  margin-right: 10vw;
  transition: 0.3s;
  border-radius: 50;
background: #ebebeb;
box-shadow:  15px 15px 30px #c8c8c8, 
             -15px -15px 30px #ffffff;

}



.tooltip .name{
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  transition: 0.9s;
}

.name .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  position: absolute;
   z-index: 1;
   font-family: monospace;
   top: 120px;
   left: 200px;

 }

 .name:hover .tooltiptext {
 visibility: visible;
}

.lottie{
  margin: 8vh;

}
